<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lym.dao.JobMapper">
    <resultMap id="jobmap" type="com.lym.entity.Job" autoMapping="true">
        <id property="id" column="id"/>
    </resultMap>
    <select id="selectAllJob" resultMap="jobmap">
        select *
        from job
        <where>
            flag=0
            <if test="job.name!=null">
                and name like concat('%',#{job.name},'%')
            </if>
        </where>
        limit #{start},10
    </select>
    <select id="totalcountJob" resultType="java.lang.Integer">
        select count(1)
        from job
        <where>
            flag=0
            <if test="name!=null">
                and name like concat('%',#{name},'%')
            </if>
        </where>
    </select>
    <insert id="addJob">
        insert into job(name, remark)
        values (#{name}, #{remark})
    </insert>

    <delete id="delJob">
        delete
        from job
        where id = #{id}
    </delete>
    <select id="selectUpdateJob" resultType="com.lym.entity.Job">
        select *
        from job
        where id = #{id}
    </select>

    <update id="updateJob">
        update job
        set name=#{name},
            remark=#{remark}
        where id = #{id}
    </update>

    <select id="selectAll" resultMap="jobmap">
        select * from job where flag=0
    </select>


    <select id="checkJobName" parameterType="String" resultType="java.lang.Integer">
        select count(1) from job where name=#{name}
    </select>
</mapper>